/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #979191;
  color: white;
}

.nav-links a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ff6a88;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 15px;
  background: #827f7f;
  color: white;
  margin-top: 20px;
}